$primary-color: #fff;
$secondary-color: #0d0e0e;

.banner{
    height: 100vh;
    background-color: $secondary-color;
    header{
        height: 100px;
        display: flex;
        align-items: center;
        menu {
            ul{
                list-style: none;
                li{
                    list-style-type: none;
                    padding-left: 25px;
                    a{
                        text-decoration: none;
                        font-size: 1.8rem;
                        color: $primary-color;
                    }
                }
            }
            .menu-btn{
                margin-left: 25px;
                height: 3px;
                width: 40px;
                border-radius: 50px;
                background-color: $primary-color;
            }
        }

    }
}